.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #eeeeee;
  padding: 20px;
}

.tab-buttons {
  margin-bottom: 20px;
}

.tab-buttons button {
  background-color: gray;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin: 0 5px;
}

.tab-buttons button.active {
  background-color: orange;
  color: #282c34;
}

.tab-content {
  width: 80%;
}

p {
  color: #282c34;
}